.cards-container{
  --main-color: #17a2b8;
  /* отцентрировать несколько карточек */
  text-align: center;

}
.card-wrapper{
--img-size: 80px;
display: inline-block;
/* устанавливаем граничные размеры для карточек (адаптивность)
min-width: calc(3*var(--img-size));
width: 100%;
max-width: calc(4*var(--img-size)); */
min-width: calc(3*var(--img-size));
width: 100%;
max-width: calc(4*var(--img-size));
border: 1px solid var(--main-color);
margin: 10px;
text-align: center;
font-family: sans-serif;
}
.card-bd-header{
height: calc(1.3*var(--img-size));
background-color: var(--main-color);
}
.card-content{
  padding-left: 5%;
  padding-right: 5%;
  margin-top: calc(-0.5*var(--img-size));
} 
.photo{
  box-sizing: border-box;
  width: var(--img-size);
  height: var(--img-size);
  padding: 3px;
  border: 1px solid grey;
  border-radius: 50%;
  background-color: #fff;
  object-fit: cover;
  object-position: top;
}
.format-text{
  text-transform: capitalize;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.btm{
  min-width: 20px;
  max-width: 40%;
}
.card-footer{
  background-color: var(--main-color);
}
.social-icon{
  display: inline-block;
  /*ссылки на соцсети имеют большее покрытие для кликабельности, но иконка отображается на 24
  width: 32px;
  height: 32px;
  background-size: 24px; */
  width: 32px;
  height: 32px;
  background-size: 24px;
  background-repeat: no-repeat;
  background-position: center;
}
.fb{
  background-image: url(../icons/facebook.png);
}
.google{
  background-image: url(../icons/google-plus.png);
}
.twitter{
  background-image: url(../icons/twitter.png);
}
